
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

.env
docker/etc/apache/000-default.conf
docker/etc/apache/default-ssl.conf
docker/etc/key/.gitkeep
docker/etc/php/xdebug.ini
docker/etc/php/www.conf
docker/etc/key/id_ed25519
docker/etc/apache/httpd-custom.conf
docker/etc/php/php.ini
